graft wfcommons/wfchef/recipes/epigenomics/microstructures/**
graft wfcommons/wfchef/recipes/epigenomics/microstructures
graft wfcommons/wfchef/recipes/epigenomics
graft wfcommons/wfchef/recipes/montage/microstructures/**
graft wfcommons/wfchef/recipes/montage/microstructures
graft wfcommons/wfchef/recipes/montage
graft wfcommons/wfchef/recipes/seismology/microstructures/**
graft wfcommons/wfchef/recipes/seismology/microstructures
graft wfcommons/wfchef/recipes/seismology
graft wfcommons/wfchef/recipes/seismology/microstructures/**
graft wfcommons/wfchef/recipes/seismology/microstructures
graft wfcommons/wfchef/recipes/seismology
graft wfcommons/wfchef/recipes/cycles/microstructures/**
graft wfcommons/wfchef/recipes/cycles/microstructures
graft wfcommons/wfchef/recipes/cycles
graft wfcommons/wfchef/recipes/cycles/microstructures/**
graft wfcommons/wfchef/recipes/cycles/microstructures
graft wfcommons/wfchef/recipes/cycles
graft wfcommons/wfchef/recipes/seismology/microstructures/**
graft wfcommons/wfchef/recipes/seismology/microstructures
graft wfcommons/wfchef/recipes/seismology
graft wfcommons/wfchef/recipes/seismology/microstructures/**
graft wfcommons/wfchef/recipes/seismology/microstructures
graft wfcommons/wfchef/recipes/seismology
graft wfcommons/wfchef/recipes/seismology/microstructures/**
graft wfcommons/wfchef/recipes/seismology/microstructures
graft wfcommons/wfchef/recipes/seismology
graft wfcommons/wfchef/recipes/soykb/microstructures/**
graft wfcommons/wfchef/recipes/soykb/microstructures
graft wfcommons/wfchef/recipes/soykb
graft wfcommons/wfchef/recipes/srasearch/microstructures/**
graft wfcommons/wfchef/recipes/srasearch/microstructures
graft wfcommons/wfchef/recipes/srasearch
graft wfcommons/wfchef/recipes/genome/microstructures/**
graft wfcommons/wfchef/recipes/genome/microstructures
graft wfcommons/wfchef/recipes/genome
graft wfcommons/wfchef/recipes/blast/microstructures/**
graft wfcommons/wfchef/recipes/blast/microstructures
graft wfcommons/wfchef/recipes/blast
graft wfcommons/wfchef/recipes/bwa/microstructures/**
graft wfcommons/wfchef/recipes/bwa/microstructures
graft wfcommons/wfchef/recipes/bwa